
@media screen and (min-width: 720px){ 
	.slideshow li div {
		z-index: 100;
			opacity: 0.5;
		}
}

@media screen and (max-width: 720px) {
.slideshow li div{
	z-index: -100;
		opacity: 0;
	}	
	
}



#slide{ 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    z-index: -10;
	overflow:hidden;
}

.slideshow li span{ 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
 z-index: -1;
	animation: imageAnimation 20s linear infinite 0s; 

}

.slideshow li:nth-child(1) span { 
    background-image: url(../images/backgrounds/bg1.jpg); 
}

.slideshow li:nth-child(2) span { 
    background-image: url(../images/backgrounds/bg2.jpg);
	animation-delay: 5s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url(../images/backgrounds/bg3.jpg);
	animation-delay: 10s; 
}

.slideshow li:nth-child(4) span { 
    background-image: url(../images/backgrounds/bg4.jpg);
	animation-delay: 15s; 
}

.slideshow li:nth-child(2) div { animation-delay: 5s; }
.slideshow li:nth-child(3) div { animation-delay: 10s; }
.slideshow li:nth-child(4) div { animation-delay: 15s; }


@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in;}
    5% { opacity: 1; animation-timing-function: ease-out;}
    25% { opacity: 1; }
  	35% { opacity: 0; transform: scale(1.4) rotate(10deg);}
    100% { opacity: 0; }
	}
	
	
	
	.slideshow li div{ 
	font-size: 12px;
	position: absolute;
	bottom: -50px;
	right: 0px;
	color: #fff;
	animation: textAnimation 20s linear infinite 0s;
	height:20px;
	margin:0px;
	padding:5px 10px;
	background: #000;
	border-radius: 7px 0 0 0 ;
	}

	

@keyframes textAnimation { 
	    0% {bottom:-35px; animation-timing-function: ease-in;}
	    2.5% { bottom:0px;}
	    25% { bottom:0px; }
	  	25.1% { bottom:-35px;}
	    100% {  bottom:-100px;}

.no-cssanimations .slideshow li span{
	opacity: 1;
}